body {
    font-family: Arial;
    user-select: none;
}

/* START REGION: MAZE */

.o-maze-node {
    width: 27px;
    height: 27px;
    font-size: 9px;
    border-radius: 100%;
    border: 2px solid;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    transition: transform 0.2s;
}

.o-maze-node--disabled {
    color: #999;
    cursor: not-allowed;
}

.o-maze-node:hover {
    transform: translate(-50%, -50%) scale(1.3);
}
.o-maze-node--disabled:hover {
    transform: translate(-50%, -50%);
}

.o-maze-node--finish {
    background-color: #0d0;
}

.o-maze-node--finish.o-maze-node--disabled {
    background-color: #bfb;
}

.o-maze-node--current {
    background-color: #fb6;
}

.o-maze-connection {
    stroke-width: 4px;
    stroke: #0007;
}

.o-maze-connection--disabled {
    stroke: #00000028;
}

.l-maze {
    position: relative;
}

/* END REGION: MAZE */


/* START REGION: UPGRADES */

.o-upgrade {
    width: 250px;
    height: 130px;
    cursor: pointer;
}

.o-upgrade--bought {
    cursor: default;
    background-color: #0f0;
}

.o-upgrade:disabled {
    cursor: not-allowed;
}

/* END REGION: UPGRADES */