body {
    font-family: Arial;
    user-select: none;
}

/* START REGION: MAZE */

.o-maze-node {
    width: 27px;
    height: 27px;
    font-size: 9px;
    border-radius: 100%;
    border: 2px solid;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    transition: transform 0.2s;
}

.o-maze-node--disabled {
    color: #999;
    cursor: not-allowed;
}

.o-maze-node:hover {
    transform: translate(-50%, -50%) scale(1.3);
}

.o-maze-node--disabled:hover {
    transform: translate(-50%, -50%);
}

.o-maze-node--finish {
    width: 31px;
    height: 31px;
    background-color: #0d0;
}

.o-maze-node--finish.o-maze-node--disabled {
    background-color: #bfb;
}

.o-maze-node--seen {
    color: #f90;
}

.o-maze-node--dead {
    color: #999;
    cursor: not-allowed;
    background-color: #f99;
}

.o-maze-node--queued {
    color: #089;
    box-shadow: 0 0 5px 1px;
}

.o-maze-node--current {
    background-color: #fb6;
    color: #000;
}

.o-maze-node--current.o-maze-node--disabled {
    background-color: #fb6;
    color: #000;
}

.o-maze-connection {
    stroke-width: 4px;
    stroke: #0007;
}

.l-maze--auto .o-maze-connection:not(.o-maze-connection--disabled):not(.o-maze-connection--queued) {
    stroke: #f907;
}

.o-maze-connection--disabled {
    stroke: #00000028;
}

.o-maze-connection--queued {
    stroke: #09a9;
}

.o-maze-node__tooltip {
    visibility: hidden;
    width: 160px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -80px;
    font-size: 13px;
}

.o-maze-node__tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.o-maze-node--finish:hover .o-maze-node__tooltip {
  visibility: visible;
}

.l-maze {
    position: relative;
}

/* END REGION: MAZE */


/* START REGION: UPGRADES */

.o-upgrade {
    width: 250px;
    height: 150px;
    cursor: pointer;
    vertical-align: middle;
}

.o-upgrade--bought {
    cursor: default;
    background-color: #0f0;
}

.o-upgrade:disabled {
    cursor: not-allowed;
}

/* END REGION: UPGRADES */


/* START REGION: UPGRADES */

.o-slider-button {
    width: 30px;
    height: 23px;
    cursor: pointer;
    vertical-align: middle;
}

.o-slider-button:disabled {
    cursor: not-allowed;
}

/* END REGION: UPGRADES */